html, body {
  padding: 0px;
  margin: 0px;
  font-family: 'Viga', sans-serif;
  color: #eeeeee;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #a9cfe3;

  button{
    font-family: 'Viga', sans-serif;
    color: #A9CFE3;
    background-color: #FFF599;
    font-size: large;
    padding: 2%;
    border-radius: 10px;
    border-color:  #FFF599;
    border-style: solid;

    .selected {
      color:  #FFF599;
      border-color:  #FFF599;
      border-style: solid;
      background-color:rgba(255, 255, 252, 0);
    }
  }
  button:hover{
    color:  #FFF599;
    border-color:  #FFF599;
    border-style: solid;
    background-color:rgba(255, 255, 252, 0.25);
  }
}
progress {
  border: 4px solid #FFF599;
  border-radius: 20px;
  background:rgba(255, 255, 252, 0.5);
  z-index: 100;
}
progress::-webkit-progress-value {
  background: white; 
}
progress.ill::-webkit-progress-value {
  background-color: red;
}
progress.good::-webkit-progress-value {
  background-color:green;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h1 {
  z-index: 4;
  position: relative;
  pointer-events: none;
  margin-left: 4%;
}  
#menu{
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 25% ;
  left:70%;
  text-align: center;
  #love {
    border-radius: 30px;
    width: 60px;
    height: 60px;
    font-size: xx-large;
  }
  #plant, #select{
      width: 70%;
      margin: 3% auto;
  }
  #infoSelected{
    //background-color:rgba(255, 255, 252, 0.5);
    background-color: #a9cfe3;
    border-color:  #FFF599;
    color: #FFF599;
    border-style: solid;
    border-radius: 10px;
    width: 70%;
    margin: 0 auto;
    progress {
      width: 82%;
      margin-bottom: 5%;
    }
    .jauge{
      width: 82%;
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      justify-content: space-between;
    }
    #buttons {
      width: 82%;
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      justify-content: space-between;
      button{
        width: 47%;
        
      }
    }
    button {
      margin-bottom: 5%;
    }
  }
  .selected{
    color:  #FFF599;
    border-color:  #FFF599;
    border-style: solid;
    background-color:rgba(255, 255, 252, 0.25);
  }
  .hidden{
    display: none;
  }
}
#popup {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  border-color:  #FFF599;
  border-style: solid;
  color:  #FFF599;
  border-radius: 10px;
  padding: 2%;
  width: 40vw;
  height: 20vh;
  text-align: center;
  .hidden{
    display: none;
  }
}
#error{
  position: absolute;
  z-index: 9;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#blue{
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #a9cfe3;
  z-index: 3;
}
.plantSeed{
  cursor: pointer;
}
